{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">
        {%if posts %}
          <div class="card-grid">
            {% for post in posts %}
              {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          </div>
        {% else %}
          <div class="not-found center">
            <h2>No posts found</h2>
            <p>It seems there are no posts to display. Please check back later,
              or go to the <a href="{% url 'blog:index' %}">homepage</a>.</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}